.App {
  text-align: center;
}

.nav-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.nav-link {
  padding: 0 8px !important;
}
.nav-link:hover,
.dropdown-item:hover {
  color: #999 !important;
  border-left: 4px solid #f9bc08;
}

.btn {
  --bs-btn-border-radius: 0 !important;
}

.btn-primary {
  --bs-btn-bg: #f9bc08 !important;
  --bs-btn-border-color: #f9bc08 !important;
  --bs-btn-hover-bg: rgba(249, 189, 8, 0.8) !important;
  --bs-btn-hover-border-color: rgba(249, 189, 8, 0.8) !important;
  --bs-btn-active-bg: rgba(249, 189, 8, 0.8) !important;
  --bs-btn-active-border-color: rgba(249, 189, 8, 0.8) !important;
  --bs-btn-disabled-bg: #f9bc08 !important;
  --bs-btn-disabled-border-color: #f9bc08 !important;
  height: 50px !important;
  padding: 0 20px !important;
}

.btn-secondary {
  --bs-btn-bg: #171717 !important;
  --bs-btn-border-color: #171717 !important;
  --bs-btn-hover-bg: rgba(23, 23, 23, 0.8) !important;
  --bs-btn-hover-border-color: rgba(23, 23, 23, 0.8) !important;
  --bs-btn-active-bg: rgba(23, 23, 23, 0.8) !important;
  --bs-btn-active-border-color: rgba(23, 23, 23, 0.8) !important;
  --bs-btn-disabled-bg: #171717 !important;
  --bs-btn-disabled-border-color: #171717 !important;
  height: 50px !important;
  padding: 0 20px !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: right;
    margin-right: 30px;
  }
}

.bg-custom-yellow {
  background-color: #f9bc08;
}
